.btn-add-all {
    position: absolute;
    top: 32px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn-add-all p {
    font-size: 12px;
    color: #CBCBCB;
    font-weight: 600;
    margin-right: 6px;
}
.btn-add-all span {
    color: #CBCBCB;
    font-size: 20px;
}

#album-jacket {
    margin-top: 80px;
}
#album-jacket h2, .entire {
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: #696969;
}
#album-jacket .entire::after {
    content: '';
    margin-top: 3px;
    width: 20px;
    height: 12px;
    position: absolute;
    background-image: url(../img/i_back_black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}
#album-jacket .album {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#album-jacket .album .cover-box {
    position: relative;
}
#album-jacket .album .cover-box .cover {
    width: 170px;
    margin-right: 50px;
    border-radius: 4px;
}
#album-jacket .cover-box .genre-label {
    position: absolute;
    top: 28px;
    left: -29px;
    transform: rotate(-90deg);
    background-color: #393939;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    width: 38px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
#album-jacket .album .lp {
    width: 150px;
    position: absolute;
    top: 8px;
    left: 50%;
    z-index: -1;
}

#album-jacket .info {
    text-align: center;
}
#album-jacket .info .title {
    margin: 12px 0 6px 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
}
#album-jacket .info .release {
    display: block;
    margin-top: 16px;
    color: #797979;
    font-weight: 600;
    font-size: 12px;
}

#album-jacket .playbtns {
    text-align: center;
    margin-top: 12px;
}
#album-jacket .playbtns button {
    width: 50px;
    height: 50px;
    background-color: #393939;
    border-radius: 50px;
    background-repeat: no-repeat;
}
#album-jacket .btn-play {
    background-image: url(../img/i_play.svg);
    background-position: 19px center;
    background-size: 30%;
    margin-right: 10px;
}
#album-jacket .btn-shuffle {
    background-image: url(../img/i_shuffle.svg);
    background-position: center;
}

#tracklist {
    margin-top: 20px;
}
#tracklist ul {
    border-top: 0.7px solid #E0E0E0;
}
#tracklist ul li {
    border-bottom: 0.7px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#tracklist ul li a {
    display: flex;
    align-items: center;
    padding: 17px 0;
}
#tracklist ul li a > span {
    color: #CBCBCB;
    font-weight: 600;
    font-size: 12px;
}
#tracklist ul li a > p {
    margin-left: 16px;
}
#tracklist ul li .btn-add-collection {
    margin-top: 4px;
}

footer {
    margin-top: 14px;
    margin-bottom: 180px;
    color: #797979;
    font-size: 12px;
    text-align: center;
}
footer p {
    font-weight: 600;
    margin-right: 6px;
    display: inline;
}

/* collected album */
.my-turntable {
    width: 300px;
    margin-bottom: 8px;
    position: relative;
}
.playing-lp {
    background-image: url(../img/lp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: 90px;
    margin-bottom: 6px;
}
.playing-lp .cover {
    width: 60px;
    height: 60px;
    background-image: url(../img/album/album00.png);
    background-size: contain;
    border-radius: 50px;
}
.playing-lp .cover-c {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 1px solid #393939;
    border-radius: 50px;
    position: absolute;
}

#tracklist ul li a > span.track-num {
    width: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}