.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
.wrap {
    min-width: 280px;
    max-width: 768px;
    margin: 0 auto;
}
header {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    z-index: 5;
}
header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 40px;
    color: #696969;
    text-align: center;
}
header .btn-search {
    background-image: url(../img/i_search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 37px;
    right: 20px;
}
header nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
.player {
    background-color: #F2EFEF;
    height: 66px;
    line-height: 66px;
    position: relative;
    border-radius: 10px 10px 0 0;
}
.player .btns {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}
.player .btns button {
    text-indent: -9999px;
}
.player .btns .btn-play {
    background-image: url(../img/i_play_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 26px;
    margin-right: 20px;
}
.player .btns .btn-forward {
    background-image: url(../img/i_play_black.svg);
    background-size: contain;
    width: 30px;
    height: 17px;
}

.gnb {
    background-color: #EBD7D7;
    height: 85px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.gnb > a {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gnb span {
    font-size: 12px;
    font-weight: 580;
    margin-top: 8px;
}
.gnb button {
    background-repeat: no-repeat;
}
.gnb .btn-collection {
    background-image: url(../img/i_collection.svg);
    width: 27px;
    height: 27px;
}
.gnb .btn-magazine {
    background-image: url(../img/i_magazine.svg);
    width: 27px;
    height: 27px;
}
.gnb span.now {
    color: #B88388;
}
.gnb .now-collection {
    background-image: url(../img/i_collection_now.svg);
}
.gnb .now-magazine {
    background-image: url(../img/i_magazine_now.svg);
}

.btn-turntable {
    background-image: url(../img/symbol.png);
    background-size: contain;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home {
    background-image: url(../img/symbol_on.png);
}

.btn-prev {
    background-image: url(../img/i_back_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 37px;
}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
    display: none;
}
/* 검색창 */
#search-form {
    margin: 20px 0;
    position: relative;
}
#search-form input {
    background-color: #F2EFEF;
    height: 44px;
    width: calc(100% - 40px);
    margin-left: 20px;
    border-radius: 24px;
    padding-left: 60px;
}
#search-form input::placeholder {
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #797979;
}
#search-form .btn-box-search {
    width: 20px;
    height: 20px;
    background-image: url(../img/i_search.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 40px;
    text-indent: -9999px;
}

/* 음악 리스트 */
.songs li a {
    border-top: 0.7px solid #E0E0E0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.songs li .visual {
    width: 44px;
    display: flex;
    justify-content: center;
    position: relative;
}
.songs li .visual .pic {
    border: 0.1px solid #CBCBCB;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-size: cover;
}
.songs li .visual .pic-c {
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    border-radius: 7px;
    top: 50%;
    transform: translate(0, -50%);
}
.songs li .info {
    margin-left: 16px;
}
.songs li .info span {
    color: #939393;
    margin-top: 6px;
    display: block;
    font-size: 13px;
}

/* 앨범 리스트 */
.album-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px 20px;
}
.album-list li {
    width: calc(50% - 10px);
}
.album-list li .img-box img {
    border-radius: 6px;
}
.album-list li .txt-box {
    margin-top: 8px;
}
.album-list li .txt-box .title {
    font-weight: 500;
    padding-bottom: 4px;
}

/* 바이닐 스크롤 */
.vinyl-list {
    display: flex;
    flex-wrap: wrap;
    width: 865px;
}
.vinyl-list li {
    margin-right: 10px;
}
.vinyl-list li .img-box img {
    width: 161px;
    border-radius: 3px;
}

/* LP 스크롤 */
.song-list {
    display: flex;
    flex-wrap: wrap;
    width: 818px;
}
.song-list li {
    margin-right: 13px;
    width: 150px;
}
.song-list li .lp-box {
    background-image: url(../img/lp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.song-list li .lp-box .cover {
    width: 53px;
    height: 53px;
    background-size: contain;
    border-radius: 50px;
}
.song-list li .lp-box .cover-c {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 1px solid #393939;
    border-radius: 50px;
}

/* Collection 추가하기 */
.btn-add-collection span {
    font-size: 20px;
    color: #E0E0E0;
}
.added {
    color: #DDABAA !important;
}

/* Favorite 추가하기 */
.btn-add-favorite {
    width: 18px;
    height: 28px;
    background-image: url(../img/i_book.svg);
    margin-top: -23px;
    margin-right: 30px;
}
.btn-add-favorite.on {
    background-image: url(../img/i_book_on.svg);
}