body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(95, 19, 19, 0.5);
    backdrop-filter: blur(9px);
}
#wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}
.btn {
    width: 300px;
    height: 44px;
    background-color: #DDABAA;
    border-radius: 30px;
    line-height: 44px;
    font-size: 14px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #fff;
    color: #DDABAA;
}
.btn-prev {
    background-image: url(../img/i_back.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 37px;
}
.logo {
    position: relative;
    width: 480px;
}
.logo .symbol {
    width: 370px;
    margin-right: 650px;
}
.logo .needle {
    position: absolute;
    top: 0;
    right: 16%;
    width: 180px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    padding: 20px 0 50px 0;
}
h1 span {
    font-style: italic;
}