.featuring-artist {
    margin-top: 80px;
    margin-bottom: 20px;
}
.featuring-artist h2 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    color: #989898;
    margin-bottom: 10px;
}

.featuring-artist .scroll .artist-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 790px;
}
.featuring-artist .scroll .artist-list li {
    margin-right: 10px;
    position: relative;
}
.featuring-artist .scroll .artist-list li img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.featuring-artist .scroll .artist-list li p {
    position: absolute;
    bottom: 14px;
    left: 14px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.favorite-list {
    padding-bottom: 154px;
}
.favorite-list .songs li:nth-child(1) .visual .pic {
    background-image: url(../img/Lps/lp05.png);
}
.favorite-list .songs li:nth-child(2) .visual .pic {
    background-image: url(../img/album/album17.png);
}
.favorite-list .songs li:nth-child(3) .visual .pic {
    background-image: url(../img/album/album00.png);
}
.favorite-list .songs li:nth-child(4) .visual .pic {
    background-image: url(../img/album/album04.png);
}
.favorite-list .songs li:nth-child(5) .visual .pic {
    background-image: url(../img/album/album10.png);
}