header {
    background-size: cover;
    height: 80px;
}
#artist-header {
    background-image: url(../img/magazine/artist-bg.png);
}
#genre-header {
    background-image: url(../img/magazine/genre-bg.png);
}
header h1 {
    color: #fff;
}
.btn-prev {
    background-image: url(../img/i_back.svg);
}
section:not(:first-child) {
    margin-left: 20px;
}
.heading {
    margin-top: 34px;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    margin-bottom: 14px;
    position: relative;
}
.heading::after {
    content: '';
    margin-top: 8px;
    width: 30px;
    height: 12px;
    position: absolute;
    background-image: url(../img/i_back_black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}

#visual {
    margin-top: 80px;
    position: relative;
}
#visual .artist-visual {
    width: 100%;
    height: 400px;
    background-image: url(../img/magazine/artist01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#visual .btn-play {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(242, 239, 239, 0.6);
    border-radius: 50px;
    background-image: url(../img/i_play.svg);
    background-repeat: no-repeat;
    background-position: 19px center;
    background-size: 36%;
}

#artist-info {
    margin-top: 30px;
    margin-right: 20px;
}
#artist-info h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 800;
}
#artist-info .genre-name {
    display: block;
    padding-top: 16px;
    padding-bottom: 4px;
    color: #797979;
    font-size: 14px;
    font-weight: 500;
}
#artist-info p {
    font-size: 14px;
    line-height: 1.4;

}
/* READ MORE */
#more {
    display: none;
}
#btn-read-more {
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px;
}

.img-box img {
    width: 161px;
}
.txt-box {
    margin-top: 10px;
    width: 160px;
    height: 38px;
}
.txt-box .title {
    font-weight: 500;
    margin-bottom: 4px;
}


.song-list li .lp-box .cover {
    background-image: url(../img/Lps/lp06.png);
}
.song-list li:nth-child(2) .lp-box .cover,
.song-list li:nth-child(4) .lp-box .cover {
    background-image: url(../img/Lps/lp05.png);
}
.song-list li:nth-child(3) .lp-box .cover {
    background-image: url(../img/Lps/lp07.png);
}
.song-list li:nth-child(5) .lp-box .cover {
    background-image: url(../img/Lps/lp08.png);
}
.song-list li .txt-box .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#released {
    padding-bottom: 170px;
}
.vinyl-list li .img-box img {
    border-radius: 3px;
}
.vinyl-list li.long .txt-box {
    margin-top: 7.5px;
}
.vinyl-list li.long .txt-box .title {
    display: inline-block;
    line-height: 1.25;
    word-break: break-all;
}
.vinyl-list li.long .txt-box .released {
    font-weight: 250;
}

/* genre */
#visual .genre-visual {
    width: 100%;
    height: 400px;
    background-image: url(../img/genre/pop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.genre-picks li:nth-child(1) .lp-box .cover {
    background-image: url(../img/Lps/lp01.png);
}
.genre-picks li:nth-child(2) .lp-box .cover {
    background-image: url(../img/Lps/lp02.png);
}
.genre-picks li:nth-child(3) .lp-box .cover {
    background-image: url(../img/Lps/lp03.png);
}
.genre-picks li:nth-child(4) .lp-box .cover {
    background-image: url(../img/Lps/lp04.png);
}
.genre-picks li:nth-child(5) .lp-box .cover {
    background-image: url(../img/Lps/lp05.png);
}