body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(167, 94, 94, 0.5);
    backdrop-filter: blur(15px);
}
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#player-inner-wrap {
    width: 100%;
}
@media screen and (min-width: 480px) {
    #player-inner-wrap {
        width: 480px;
        margin: 0 auto;
    }
    #cover .coverset {
        margin-right: -40px !important;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.screw {
    background-image: url(../img/screw.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
}
.lt {
    top: 55px;
    left: 20px;
    transform: rotate(20deg);
}
.rt {
    top: 55px;
    right: 20px;
    transform: rotate(100deg);
}
.lb {
    bottom: 20px;
    left: 20px;
}
.rb {
    bottom: 20px;
    right: 20px;
    transform: rotate(-60deg);
}

.top-bar {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(-50%,-50%);
}

#cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
#cover .coverset {
    width: 408px;
    margin-right: 50px;
    margin-top: 30px;
}

#track-info {
    text-align: center;
    position: relative;
}
#track-info .title {
    margin: 36px 0 8px 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
}
#track-info .artist {
    display: block;
    margin-bottom: 40px;
    font-size: 13px;
}
#track-info button {
    position: absolute;
    top: 10px;
}
#track-info button span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    width: 32px;
    height: 26px;
    border-radius: 8px;
    line-height: 26px;
}
#track-info button span.active-view {
    background-color: #9a666f;
    color: #fff;
}
#track-info button span.active-add {
    color: #fff;
}
#track-info .btn-view-list {
    left: 30px;
}
#track-info .btn-add-collection {
    right: 30px;
}
#track-info .progress {
    margin: 0 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    position: relative;
}
#track-info .progress .bar {
    width: 10px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    animation: progress_ani 3s linear 0.5s forwards;
    position: relative;
}
#track-info .progress .bar::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: -1px;
    right: 0;
    box-shadow: 0px 0px 20px #000;
}
@keyframes progress_ani {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}
#track-info .progress span {
    font-size: 12px;
    position: absolute;
    margin-top: 8px;
}
#track-info .progress span.start {
    left: 0;
}
#track-info .progress span.end {
    right: 0;
}

#controls .btns {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#controls .btns button {
    background-image: url(../img/i_play.svg);
    background-size: contain;
    text-indent: -9999px;
}
#controls .btns .btn-rewind {
    width: 44.5px;
    height: 26px;
    transform: rotate(180deg);
}
#controls .btns .btn-pause-play {
    width: 40px;
    height: 45px;
    background-repeat: no-repeat;
    animation: pause-play 0s 3.5s forwards;
    background-image: url(../img/i_pause.svg);
}

@keyframes pause-play {
    to {
        background-image: url(../img/i_play.svg);
    }
}

#controls .btns .btn-fast-forward {
    width: 44.5px;
    height: 26px;
}
#controls .volume label {
    font-size: 12px;
    font-weight: 600;
    display: block;
}
input[type="range"] {
    height: 3px;
    -webkit-appearance: none;
    width: calc(100% - 120px);
    margin: 0 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    position: relative;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(47, 47, 47);
    cursor: pointer;
    border-radius: 20px;
    margin: -3px;
}
#controls .volume input::before {
    content: '';
    width: 8px;
    height: 12px;
    background-image: url(../img/i_v0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
    left: -16px;
}
#controls .volume input::after {
    content: '';
    width: 20px;
    height: 16px;
    background-image: url(../img/i_v10.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -6px;
    right: -30px;
}

#playlist {
    display: none;
}
#playlist .options {
    margin: 30px 0;
}
#playlist .options button {
    width: 32px;
    height: 26px;
    border-radius: 8px;
    background-image: url(../img/i_shuffle.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}
#playlist .options button.active-play {
    background-color: #9a666f;
    color: #fff;
}
#playlist .options .btn-repeat {
    background-image: url(../img/i_replay.svg);
    margin: 0 4px;
}
#playlist .options .btn-infinite {
    background-image: url(../img/i_infinite.svg);
}

#playlist .play-tracklist {
    position: relative;
}
#playlist .play-tracklist ul {
    height: 236px;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 1;
    margin: 0 30px;
}
#playlist .play-tracklist ul::-webkit-scrollbar {
    display: none;
}
#playlist .play-tracklist ul li {
    padding: 16.5px 0;
    border-top: 0.7px solid #E0E0E0;
    display: flex;
}
#playlist .play-tracklist ul li:last-child {
    margin-bottom: 30px;
}
#playlist .play-tracklist ul li span {
    color: #E0E0E0;
    width: 30px;
}
#playlist .play-tracklist ul li p {
    margin-left: 16px;
}
#playlist .play-tracklist ul li p.currently-playing {
    font-weight: 400;
}
#playlist .play-tracklist .bottom-blur {
    width: 100%;
    height: 52px;
    background-image: url(../img/bg-gradient.png);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
#playlist .running-time {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
#playlist .running-time span {
    margin-left: 6px;
    display: inline-block;
    font-weight: 300;
}