header {
    height: inherit;
    background-color: #fff;
}
header h1 {
    margin-top: 66px;
}
header .top-bar {
    width: 40px;
    height: 4px;
    background-color: #696969;
    border-radius: 4px;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(-50%,-50%);
}

header .select {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}
header .select input[type=radio] {
    display: none;
}
header .select input[type=radio]+label {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
header .select input[type=radio]+label[for=in-vinyl] {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 13px;
}
header .select input[type=radio]+label[for=in-collection] {
    font-size: 20px;
}
header .select input[type=radio]:checked+label {
    background-color: #DDABAA;
}
header .select p {
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .select p span {
    margin-top: 10px;
    font-size: 14px;
}
header .select p span.active {
    font-weight: 500;
}

#genre {
    margin-top: 310px;
    margin-bottom: 162px;
}
#genre ul li {
    color: #fff;
    margin-bottom: 8px;
    height: 100px;
    border-radius: 10px;
    background-image: url(../img/genre/pop.png);
    background-size: cover;
    background-position-y: -70px;
}
#genre ul li:nth-child(2) {
    background-image: url(../img/genre/alternative.png);
    background-position-y: -100px;
}
#genre ul li:nth-child(3) {
    background-image: url(../img/genre/rnb.png);
}
#genre ul li:nth-child(4) {
    background-image: url(../img/genre/country.png);
    background-position-y: -160px;
}
#genre ul li:nth-child(5) {
    background-image: url(../img/genre/dance.png);
    background-position-y: -100px;
}
#genre ul li a .title {
    font-size: 22px;
    font-weight: 500;
    padding-top: 34px;
    padding-left: 20px;
}
#genre ul li a .btn-play {
    display: block;
    font-size: 10px;
    font-weight: 500;
    background-image: url(../img/i_play.svg);
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: 8px center;
    width: 52px;
    height: 20px;
    border: 0.5px solid #fff;
    border-radius: 4px;
    text-align: right;
    margin-left: 20px;
    margin-top: 6px;
}

/* 검색 결과 */
.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab li a {
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 30px;
}
.tab li.on a {
    color: #fff;
    background-color: #DDABAA;
}

#search-result {
    margin-top: 200.7px;
    margin-bottom: 160px;
}
.tabcont {
    display: none;
}
.tabcont.on {
    display: block;
}

.tabcont li a {
    border-bottom: 0.7px solid #E0E0E0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.tabcont li .visual {
    width: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}
.tabcont li .visual .pic, 
.tabcont li .visual .cover {
    border: 0.1px solid #CBCBCB;
}
.tabcont li .visual .pic {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-size: cover;
}
.tabcont li .visual .pic-c {
    width: 7px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    border-radius: 7px;
    top: 50%;
    transform: translate(0, -50%);
}
.tabcont li .visual .cover {
    width: 56px;
    height: 56px;
    background-size: cover;
    border-radius: 2px;
}
.tabcont li .visual .hsm {
    background-image: url(../img/magazine/artist03.png);
}
.tabcont li .visual .fl {
    background-image: url(../img/album/album06.png);
}
.tabcont li .visual .hs {
    background-image: url(../img/album/album00.png);
}
.tabcont li .visual .od {
    background-image: url(../img/album/artist00.png);
}

.tabcont li .info {
    margin-left: 16px;
}
.tabcont li .info span {
    color: #797979;
    margin-top: 6px;
    display: block;
}
